body{
  margin-left: 10%;
  margin-right: 10%;
  background-image: url(../img/wallpapertip_soccer-wallpaper_1025669.jpeg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn’t tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn’t move when
  the content’s height is greater than the image’s height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
  on the container’s size */
  background-size: cover;
  /* Set a background color that will be displayed
  while the background image is loading */
  background-color: #464646;
  color: seashell;
}


#main-container{
  background-color: rgba(0, 0, 0, 0.7);
}
h1 {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
#list-countries {
  display: flex;
}
button {
  margin:5px;
  width: 150px;
}
button img {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
th,td {
  color:seashell
}
.content #standings {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#top-scorers-container {
  display: flex;
  justify-content: center;
}

#top-scorers {
  width: auto;
}

label {
  display: none;
}

select#season {
  display: none;
  width: auto;
}

#league-champion {
  display: flex;
  justify-content: space-evenly;
}

#league, #champion {
  margin: 5px
}

td img {
  width: 20px;
  justify-content: center;
}
/* Spinner borders subject to change their margin */
#coach .spinner-border{
  margin: 87px;
  visibility: hidden;
}
#venue .spinner-border{
  margin: 187px;
  visibility: hidden;
}
/* Right sidebar */
#venue img {
  width: 350px;
}

/* Fade in effect to images */
img {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}