body {
  margin-left: 9%;
  margin-right: 9%;
  background-image: url(img/wallpapertip_soccer-wallpaper_1025669.jpeg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn’t tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn’t move when
  the content’s height is greater than the image’s height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
  on the container’s size */
  background-size: cover;
  /* Set a background color that will be displayed
  while the background image is loading */
  background-color: #464646;
  color: seashell;
}
a {
  color: white;
  text-decoration: none;
  float: right;
  margin-right: 5px;
}
a:hover {
  color: brown;
}
div#main-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 1.5%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
h1 {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* ::::::::::::::::Top sidebar:::::::::::::::: */
div#list-countries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
button {
  margin: 5px;
  width: 150px;
}
button.highlighted:focus {
  background-color: cadetblue;
}
button.country:hover {
  color: indianred;
}
button img {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* ::::::::::::::::Main content:::::::::::::::: */
label {
  display: none;
}
select#season {
  display: none;
  width: auto;
}
div#league img {
  background: rgba(255, 255, 255, 0.4);
}
div#league-and-champion {
  display: flex;
  justify-content: space-evenly;
}
div#league, div#champion {
  margin: 5px;
}
th,td {
  color: seashell;
}
table td#rank {
  text-align: center;
}
div.content table#standings {
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}
table#standings tbody {
  cursor: pointer;
  vertical-align: middle;
}
table#standings tbody tr:hover {
  background-color: rgba(255, 255, 153, 0.2);
}
table#standings tbody tr:focus {
  background-color: rgba(255, 255, 153, 0.2);
}
table#standings-qualifications {
  list-style-type: none;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
li#champions-league {
  background: green;
  text-align: center;
}
li#europa-league {
  background: orange;
  color: #464646;
  text-align: center;
}
li#relegation {
  background: red;
  text-align: center;
}
div#facts-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
table#top-scorers {
  width: auto;
}
table#top-scorers tbody tr:hover {
  background-color: rgba(255, 255, 153, 0.2);
}
td img {
  width: 20px;
  justify-content: center;
}
table.facts-info {
  background-color: rgba(47, 0, 100, 0.5);
}
table .facts-header {
  text-align: center;
}
td.biggest-streak {
  font-size: x-large;
  width: 45px;
}
/* ::::::::::::::::Right sidebar:::::::::::::::: */
section#coach {
  width: 150px;
  height: 220px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
section#venue {
  width: 350px;
  height: 330px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
section#coach p,
section#venue p {
  text-align: center;
}
section#venue img {
  width: 350px;
}
section form {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
section#player {
  margin-top: 15%;
}
input#player-name {
  width: 65%;
}
div#player-img {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}
div#player-img ul {
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}
div#player-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div#player-img p {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
section#random-facts {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  margin-top: 5%;
  padding: 2%;
  margin-bottom: 5%;
}
button#pause-play-did-you-know-facts {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -4%;
  margin-bottom: 5%;
}
/* Spinner borders subject to change their margin */
section#coach .spinner-border {
  margin: auto;
  margin-top: 75px;
  visibility: hidden;
}
section#venue .spinner-border {
  margin: auto;
  margin-top: 115px;
  visibility: hidden;
}
/* Fade in effect to images */
img,
small,
#countries,
#standings,
#standings-qualifications,
#facts-container {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
